<nav class="navbar navbar-expand-lg  "style="width: 100%;  z-index: 1000;"> 
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2"routerLink="main/home" style="color: #ffffff;" ><i class="fa-solid fa-house-chimney-medical " style="color: #ffffffec;"></i>Rise Medical Center</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4 "  aria-current="page" routerLink="/" style="color: #ffffff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/services" style="color: #ffffff;">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/finddoctor" style="color: #ffffff;">Find a doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="/home/contactus" style="color: #ffffff;">Contact Us</a>
          </li>
         
          <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/patient/patientlogin"   style="color: #ffffff;" ><i class="fa-solid fa-users" style="color: #fafafa;"></i> Patient Portal</button>
          <button class="btn btn- ms-lg-4 me-5 text-white fw-bold border-white" routerLink="/admin/adminlogin"  style="color: #ffffff;" > <i class="fa-solid fa-user " style="color: #ffffff;"></i> Admin Portal</button>

        </ul>
       
      </div>
    </div>
  </nav>
