.navbar{
    background-color: #044439;
    font-family: 'Arbutus Slab', serif;
    font-size: larger;
}
.nav-item{
color: aliceblue;
font-family:'Arbutus Slab', serif;
font-size: larger;

}
.btn{
    color: #0fad93;
    background-color: #13584db0;
   
}