<!-- Footer -->
<div class="div  text-light">
<footer class="text-center text-lg-start text-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex  text-white  justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset text-white">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-white text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Rise Medical Center
            </h6>
            <p>
              Your Wellness is our Mission.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              For Patients
            </h6>
            <p>
              <a href="#!" class="text-reset">Find a Doctor</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Book an appointment</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lab Results</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Easy Checkups</a>
            </p>
            <p>
                <a href="#!" class="text-reset">24*7 Serices</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              CORPORATE
            </h6>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact Us</a>
            </p>
            
            <p>
              <a href="#!" class="text-reset">Help & Support</a>
            </p>
            <p>
                <a href="#!" class="text-reset"> FAQs</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Ernakulam</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              risemedical@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 9998884512</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold text-white" href="https://mdbootstrap.com/">Risemedicalcenter.com</a>
    </div>

    <!-- Copyright -->
  </footer>
</div>
  <!-- Footer -->