<section class="service">
<nav class="navbar navbar-expand-lg  "style="width: 100%;  z-index: 1000;"> 
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2"routerLink="main/home" style="color: #ffffff;" ><i class="fa-solid fa-house-chimney-medical " style="color: #ffffffec;"></i>Rise Medical Center</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4 "  aria-current="page" routerLink="" style="color: #ffffff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="" style="color: #ffffff;">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="" style="color: #ffffff;">Find a doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-4" routerLink="" style="color: #ffffff;">Contact Us</a>
          </li>
         
          <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="patient/patientlogin"   style="color: #ffffff;" ><i class="fa-solid fa-users" style="color: #fafafa;"></i> Patient Portal</button>
          <button class="btn btn- ms-lg-4 me-5 text-white fw-bold border-white" routerLink="admin/adminlogin"  style="color: #ffffff;" > <i class="fa-solid fa-user " style="color: #ffffff;"></i> Admin Portal</button>

        </ul>
       
      </div>
    </div>
  </nav>

  <!-- services -->

  <section class=" mt-5">
  <div class="container1">
    <h1 class="text-center text-dark mt-5 me-4">Our Services</h1>
    <p class="d-flex text-lg-start text-align-center"> Rise Medical center is an initiation of PK group of
        Institutions.
        Our Mission is to access the right treatment, accurate diagnosis and other complementary treatment
        techniques to provide full health, God willing, self-development of patients, which in turn will give our
        customers and patients the opportunity to live calmly and reassure their health and family conditions.
        Our vision is to provide a vision of the best possible outcomes for each patient by creating an integrated
        environment of doctors, consultants and clinics together in a single center providing all necessary
        services.
        Here we provide 24 hour health services at our best.We have highly qualified and experienced doctors working
        in our medical center.An advantage of our center is that we have an high tech laboratory for patient care.We
        have a well equipped laboratory and a diagonistic team of 50 members composed of expert technologists and
        technicians.
    </p>
</div>

  <!-- cards -->
  <div class="d-flex d-flex flex-row flex-wrap"  >
  <div class="card" style="width: 18rem;" >
    <img src="https://www.prshospital.com/img/departments/thumbs/cardiology.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cardiac Care</h5>
      <p class="card-text">We have highly experiend and efficient doctors from various Multispeciality hospitals.  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.prshospital.com/img/departments/thumbs/renal_transplant.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Renal Care</h5>
      <p class="card-text">We have a well equipped dialysis unit and services for renal checkups regularly.  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://www.prshospital.com/assets/images/services/6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Emergency Care</h5>
      <p class="card-text">At Rise we have emergency care units which works actively 24*7 with good facilities.  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://www.pushpanjalihospital.in/wp-content/uploads/2022/05/ped-care-768x507.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paediatric Care</h5>
      <p class="card-text">we provide specialised medical care to infants, children and adolescents ageing from birth to 18 years old.   </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://www.prshospital.com/img/departments/thumbs/laryngology.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENT Care</h5>
      <p class="card-text">The department has the main purpose of providing ear, nose and throat care to patients suffering from ailments affecting these areas.   </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://babymhospital.org/wp-content/uploads/2020/11/General-medicine.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Diabetic Care</h5>
      <p class="card-text">A team of dedicated Physicians, along with qualified support staff, ensures each diabetic patient gets care.  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://media.istockphoto.com/id/1181392325/photo/young-scientist-looking-through-a-microscope.jpg?s=612x612&w=0&k=20&c=APDK53qEznyXuVuGGgvo5szvOuY9n1K3c1Apn_02c6A=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Laboratory</h5>
      <p class="card-text">We have an efficient team and an well equipped Hightech Laborotary whic gives result on time fastly with accuracy.  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" >
    <img src="https://www.prshospital.com/img/departments/thumbs/home_care.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Home Care</h5>
      <p class="card-text">We have facility to collect samples for diagonosis from home and our team reach bedridden patients for medical support  </p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>

<app-footer></app-footer>

</section>